<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potato Mailbox blog</title>
</head>
<body>
    <header>
        <div class="portfolio-hero">
            <div class="portfolio-menu">
                <ul class="nav-menu">
                    <li class="menu-item"><a href="#">Home</a></li>
                    <li class="menu-item"><a href="#about">About</a></li>
                    <li class="menu-item"><a href="#skills">Artists</a></li>
                </ul>
                <div class="portfolio-profile">
                    <img alt="profile-pic" src="assets/img/images.jpg">
                    <h1>Welcome to the Potato Mailbox Blog</h1>
                    <h2>where everything goes "aaaeeeaaaaeeaa".</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="about">
            <h2>About</h2>
            <p>Welcome to the Potato Mailbox where everything goes "aaaeeeaaaaeeaa".</p>
            <p>This website is only made to brighten up the day of the viewers. </p>
            <p>this whole page is inspired by the song Big enough - Kirin J Callinan ft. Alex Cameron, Molly Lewis, Jimmy Barnes. It has a good message in it and also the screaming old man will make you smile.</p>
        </div>
        <div id="skills">
            <h2> Artists</h2>
            <div class="skill-main-grid">
                <div class="skill-grid1">
                    <h3>Kirin J Callinan</h3>
                    <p>Kirin J. Callinan, is an Australian singer, songwriter, and guitarist. Best known for his solo career, he is also a founding member of Mercy Arms and has played with the Night Game and Jack Ladder and the Dreamlanders..</p>
                </div>
                <div class="skill-grid2">
                        <h3>Alex Cameron</h3>
                        <p>Alex Cameron is an Australian musician, singer and songwriter. Born and raised in Sydney, he is best known for his solo career, a high-concept act in which Cameron initially adopted the persona of a failed entertainer.</p>
                </div>
                <div class="skill-grid3">
                        <h3>Molly Lewis</h3>
                        <p>Alex Cameron is an Australian musician, singer and songwriter. Born and raised in Sydney, he is best known for his solo career, a high-concept act in which Cameron initially adopted the persona of a failed entertainer.</p>
                </div>
                <div class="skill-grid4">
                        <h3>Jimmy Barnes</h3>
                        <p>James Dixon Barnes AO is a Scottish-born Australian rock singer and songwriter. His career both as a solo performer and as the lead vocalist with the rock band Cold Chisel has made him one of the most popular and best-selling Australian music artists of all time.</p>
                </div>
            </div>
        </div>
        <div id="contact">

        </div>
    </main>
    <footer>©Potato Mailbox </footer>
    <script src="js/main.js"></script>
</body>
</html>